.Navbar ul
{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  background-color:rgb(64, 64, 79);
  margin-top:15px;
  padding: 5px;
}
.Navbar li 
{
  margin:20px
}
.Navbar a
{
  text-decoration: none;
  color: rgb(240, 154, 154);
}
.Navbar a:hover 
{
  color: crimson;
}
h3
{
  margin-top: 5px;
  text-align: center;
  color: darkorange;
}